body{
    background-color: #d3d3d3;
}

.progressbar {
    counter-reset: step;
}

.progressbar li {
    list-style-type: none;
    float: left;
    width: 20%;
    position: relative;
    text-align: center;
}

.progressbar li:before{
    content: counter(step);
    counter-increment: step;
    width: 30px;
    height:30px;
    border: 1px solid black;
    border-radius: 50%;
    text-align: center;
    display: block;
    margin: 0 auto 10px auto;
    line-height: 30px;
}